<div class="row">
	<div class="col-lg-12">
		<ul class="pagination">
			<li {{#unless data.posts.previous}}class="disabled" {{/unless}}>
				<a href="{{paginationPreviousUrl data.posts.previous}}">
					<span>Previous</span>
				</a>
			</li>
			{{{paginationNavigation data.posts.pages data.posts.currentPage data.posts.totalPages}}}
			<li {{#unless data.posts.next}}class="disabled" {{/unless}}>
				<a href="{{paginationNextUrl data.posts.next data.posts.totalPages}}">
					<span>Next</span>
				</a>
			</li>
		</ul>
	</div>
</div>